[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

websocket-client = "*"
python-fossil-delta = "*"
msgpack = "*"


[dev-packages]

pylint = "*"


[requires]

python_version = "3.6"
